@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Vazirmatn:wght@400;700&display=swap');

@tailwind base; 
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

.animated-logo-path {
	animation: logo-path-animation 800ms infinite;
	animation-timing-function: ease-in-out;
}

@keyframes logo-path-animation {
	50% {
		opacity: 0;
	}
}

.button {
	@apply cursor-pointer duration-100 rounded-full px-5 py-2 bg-[rgba(0,0,0,0.07)] dark:bg-[rgba(255,255,255,0.07)] flex items-center justify-center gap-1.5;
}

.button-sm {
	@apply text-sm cursor-pointer duration-100 rounded-full px-5 py-1 bg-[rgba(0,0,0,0.07)] dark:bg-[rgba(255,255,255,0.07)] flex items-center justify-center gap-1.5;
}

.button:hover, .button-sm:hover {
	@apply hover:bg-[rgba(0,0,0,0.15)] dark:hover:bg-[rgba(255,255,255,0.15)];
}
