{
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "tailwindConfig": "./tailwind.config.js",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss" 
  ]
}
